# VSCode configurations
.vscode

# Python cache
**/__pycache__/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Virtual environment
venv

# Material - pdfs
material

# Exercises
exercises

# Lectures and material from the lectures - screenshots
lectures

# Output
results/*

# Redirected terminal output
*.txt