# VSCode configurations
.vscode

# Python cache
**/__pycache__/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

# Virtual environment
venv

# Material - pdfs
material

# Exercises
exercises

# Lectures and material from the lectures - screenshots
lectures

# Output
results/**/*.png
!results/other/gridmaps/final.png
!results/other/odom_calib
!results/other/unscented_transform
!results/filters/EIF/trajectory.png
!results/filters/EKF/trajectory.png
!results/filters/UKF/trajectory.png
!results/filters/PF/resampling.png
!results/SLAM/LS/*/final.png

# Redirected terminal output
*.txt